body{
    background-color: black;
    text-align: center;
    color: white;
}
a{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250,100,0,.8);
    color: rgb(19, 10, 10);
    cursor:pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
h1{
    background-color: purple;
    color: black;
}